<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="/resources/js/board.js"></script>
    <link type="text/css" rel="stylesheet" href="/resources/info/css/board.css"/>
</head>
<body>
<div class="boarddiv" id="tab1" style=" display: block;z-index: -2; height: 310px">

    <div style="width: 100%; height: 15%; background-color: white;">
        <input class="writebtn" id="writebtn1" type="button" value="글쓰기" />
        <input class="writebtn" id="writebtn3" type="button" value="요청" />
    </div>

    <div style="width: 100%; height: 90%;">
        <div class="writediv" id="writediv1" >

            <form name="frm1" enctype="multipart/form-data">

                <div style="padding: 20px 20px 0 20px;"><textarea style="resize: vertical; width: 100%;" rows="8" name="contents" placeholder="그룹 멤버들과 공유할 내용을 적어주세요."></textarea></div>


                <!-- <div class="form-group" style="width: 40%; float: left;">
                         <label for="InputSubject1">파일첨부</label>
                         <input id="fileInput1" name="uploadFile" filestyle="" type="file" data-class-button="btn btn-default" data-class-input="form-control" data-button-text="" data-icon-name="fa fa-upload" class="form-control" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);">
                         <div class="bootstrap-filestyle input-group">
                              <input type="hidden" id="fileStatus" name="fileStatus" value="0" />
                             <input type="text" id="userfile1" class="form-control" name="uploadFile"  disabled="">
                             <span class="group-span-filestyle input-group-btn" tabindex="0">
                                 <label for="fileInput1" class="btn btn-default">
                                     <span class="glyphicon fa fa-upload"></span>
                                 </label>
                             </span>
                         </div>
                 </div> -->

                <div class="input-file1" style="padding: 0 20px 0 20px;">
                    <!--  <input type="text" readonly="readonly" class="file-name1" />
                     <label style="margin-top: 3px;" for="fileInput1" class="file-label1"></label> -->
                    <input type="hidden" id="filestatus" name="filestatus" value="0" />
                    <input type="file" name="uploadFile" id="fileInput1" class="file-upload" />
                </div>

                <input type="hidden" name="groupno" id="groupno" th:value="${groupno }" />
                <input type="hidden" name="memberno" id="memberno" th:value="${memberno }" />

<!--                <%&#45;&#45; <div>
                <c:out value='${groupno }'/> , <c:out value='${categoryno }' />, <c:out value='${memberno }'/>
            </div> &#45;&#45;%>-->

                <div style="padding-right: 20px;">
                    <div style="float: right;"><input class="buttonbo" id="btn1" type="button" value="등록" /></div>
                    <div style="float: right;"><input class="buttonbo" type="reset" value="취소" /></div>
                </div>
            </form>

        </div>
        <div class="writediv" id="writediv3" >

            <form name="frm3" enctype="multipart/form-data">
                <div style="padding:10px 20px 0 20px; height: 25px">

                    <div><input type="text" name="response" id="" style="width: 59%; float: left;" placeholder="담당자를 입력하세요"/></div>

                    <div class="btn-group" style="float: right;">
                        <button class="button3"  disabled="disabled">요청</button>
                        <button class="button2"  disabled="disabled">진행</button>
                        <button class="button2"  disabled="disabled">완료</button>
                    </div>
                </div>
                <div style="padding: 20px 20px 0 20px;"><textarea style="resize: none; width: 100%;" rows="8" name="contents"
                                                                  placeholder="그룹 멤버들과 공유할 내용을 적어주세요."></textarea></div>


                <div class="input-file3" style="padding: 0 20px 0 20px;">
                    <!-- <input type="text" readonly="readonly" class="file-name3" />
                    <label style="margin-top: 3px;" for="fileInput1" class="file-label3">파일첨부</label> -->
                    <input type="file" name="uploadFile" id="fileInput3" class="file-upload" />
                    <input type="hidden" th:id="fileStatus" name="fileStatus" value="0" />
                </div>


                <input type="hidden" name="groupno" th:id="groupno" th:value="${groupno }" />
                <input type="hidden" name="memberno" th:id="memberno" th:value="${memberno }" />





                <div style="padding-right: 20px;">
                    <div style="float: right;"><input class="buttonbo" id="btn3" type="button" value="등록" /></div>
                    <div style="float: right;"><input class="buttonbo" type="reset" value="취소" /></div>
                </div>
            </form>


        </div>

    </div>
</div>

</body>
</html>

