body  {
	background: #F2F2F2;
}
.main {
	width: 50%;
	height: 100%;
	position: absolute;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 25%;
	clear: none;
	background-color: none;
}
.contents{
	border: 1px solid #CCCCCC;
	padding: 0;
	margin: 0;
	background-color: none;
}
.form-invitation{
	width: 100%;
	padding: 10px;
	background-color: white;
}
.invitation{
	min-height: calc(50vh);
	margin: 0 auto;
	padding: 0;
	clear: none;
}
.title {
	margin: 10px 0 20px;
	padding-bottom: 10px;
	border-bottom: 2px solid #7a7a7a;
	color: #383838;
	font-size: 1.5rem;
	line-height: 1.25;
	vertical-align: middle;
	clear: none;
}

.invitation-form {
	width: 100%;
	margin-top: 2rem;
	vertical-align: middle;
	clear: none;
	display: inline-block;

}
.form-group row{display: inline-block;}
#adr, #info {
	width: 100px;
	clear: none;
	margin-left: 200px;
}
.invitation-form input {
	margin-bottom: 1rem;
	width:450px;
	clear: none;
	margin-left: 300px;
}
.invitation-form button {
	border-radius: 2rem;
	margin-top: 3rem;
	margin-bottom: 3rem;
	vertical-align: middle;
	width: 350px;
	margin: 0 auto;
	clear: none;
	background-color: #1596aa;
	color: white;
}
